<!DOCTYPE html>
<html lang="id">
    {{- partial "head.html" . -}}
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVNXRHJ4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <main>
            {{- partial "nav.html" . -}}
            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
