<!DOCTYPE html>
<html lang="id">
    {{- partial "head.html" . -}}
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVNXRHJ4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <main>
            {{- partial "nav.html" . -}}
            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2195182608601348"
     crossorigin="anonymous"></script>
<!-- Iklan -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2195182608601348"
     data-ad-slot="6266145272"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
