<nav>
    <div class="wrap-nav">
        <div class="icon-nav">
            <a href=" /">yuucode</a>
        </div>
    </div>
    <input class="menu-toggle-nav" type="checkbox" id="menu-toggle-nav"/>
    <label class="menu-btn" for="menu-toggle-nav"></label>
    <div class="menu-nav">
        <ul>
            <li><a href=" /">Home</a></li>
            <li><a href=" /#note-list">Catatan</a></li>
            <li><a href=" /about">About</a></li>
        </ul>
    </div>
    <div class="burger-menu-nav">
        <span class="line line1"></span>
        <span class="line line2"></span>
   </div>  
</nav>